.vagrant/bundler
.vagrant/bundler/global.sol
.vagrant/machines
.vagrant/machines/node0
.vagrant/machines/node0/virtualbox
.vagrant/machines/master
.vagrant/machines/master/virtualbox
.vagrant/machines/master/virtualbox/id
.vagrant/machines/master/virtualbox/creator_uid
.vagrant/machines/master/virtualbox/box_meta
.vagrant/machines/master/virtualbox/action_set_name
.vagrant/machines/master/virtualbox/action_provision
.vagrant/machines/master/virtualbox/vagrant_cwd
.vagrant/machines/master/virtualbox/synced_folders
.vagrant/machines/master/virtualbox/index_uuid
.vagrant/machines/master/virtualbox/private_key
.vagrant/machines/node1
.vagrant/machines/node1/virtualbox
.vagrant/machines/node1/virtualbox/id
.vagrant/machines/node1/virtualbox/creator_uid
.vagrant/machines/node1/virtualbox/box_meta
.vagrant/machines/node1/virtualbox/action_set_name
.vagrant/machines/node1/virtualbox/action_provision
.vagrant/machines/node1/virtualbox/vagrant_cwd
.vagrant/machines/node1/virtualbox/synced_folders
.vagrant/machines/node1/virtualbox/index_uuid
.vagrant/machines/node1/virtualbox/private_key
.vagrant/machines/node2
.vagrant/machines/node2/virtualbox
.vagrant/machines/node2/virtualbox/id
.vagrant/machines/node2/virtualbox/creator_uid
.vagrant/machines/node2/virtualbox/box_meta
.vagrant/machines/node2/virtualbox/action_set_name
.vagrant/machines/node2/virtualbox/action_provision
.vagrant/machines/node2/virtualbox/vagrant_cwd
.vagrant/machines/node2/virtualbox/synced_folders
.vagrant/machines/node2/virtualbox/index_uuid
.vagrant/machines/node2/virtualbox/private_key
.vagrant/rgloader
.vagrant/rgloader/loader.rb